@import 'normalize';

$white-height: 120px;
$black-height: $white-height / 1.87;

$white-width: 22px;
$black-width: $white-width / 1.3;
$black-spacing: $white-width - $black-width;
$black-first-offset: $white-width - $black-width / 2;

.trainer-outer-container {
  text-align: center;
}

.trainer-inner-container {
  display: inline-flex;
  flex-direction: column;
  height: 97vh;
}

.keys {
  white-space: nowrap;
  flex: 0 0;
  div > div {
    box-sizing: border-box;
    display: inline-block;
  }
}

.black-keys {
  position: absolute;
  div:first-of-type {
    margin-left: $black-first-offset;
  }

  div {
    margin-left: $black-spacing;
    min-width: $black-width;
    height: $black-height;
    background: black;
    border: 1px solid white;
    border-top: none;
  }

  .gap {
    margin-left: $white-width + $black-spacing;
  }
}

.white-keys {
  div {
    min-width: $white-width;
    height: $white-height;
    background: white;
    border: 1px solid black;
  }
}

.key-info-display {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1;
  div {
    text-align: left;
    font: 2.25em Arial;
    flex: 1 1;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.1em black;
    border: 1px solid black;
  }
}